@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 191, 14);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Mukta", sans-serif;
}

.container {
  background-color: #fff;
  color: black;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 500px;
}
.container p {
  margin: 10px;
}

.container img {
  width: 400px;
  max-width: 100%;
}

.form-control {
  position: relative;
  margin: 30px 0 20px;
}

.input {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 12px 15px;
  height: 42px;
  font-family: inherit;
}

.btn {
  background-color: black;
  color: #fff;
  height: 42px;
  border-radius: 50px;
  padding: 12px 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-family: inherit;
}
